.site{
  font-size: 13px;
  text-align: center;
}
.head-box{
  font-size: 16px;
  margin-bottom: 0
}
.main-container{
  margin-top: 70px;
  font-size: 17px;
}
.main-container .grey-text{
  font-size: 13px;
}
/* Animation effect on placeholder */
.field {
  position: relative;
}
.field label{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  margin: 20px;
  line-height: 2.5em;
  pointer-events: none;
  transition: .5s;
  color: grey;
  opacity: .5;
}

.field input:focus{
	border-color: black;
	border-width: medium medium 2px;
}
.field input:focus ~ label{
  top:-30px;
  color: black;
  font-size: 10px;
  opacity: 1;

}
.field input:focus~.input-info-style1{
  border-bottom: 2px black solid;
}
::-webkit-input-placeholder {padding-top:5px ;}

.checkout-user-details .input-info-style1,
.card-expiry-date {

  margin: 20px;
  width: 100%;
  color: #bfbfbf;
  background: white;
  line-height: 2.5em;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px #bfbfbf solid;
  background: transparent;
  outline: none;
}
select {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px #bfbfbf solid;
  border-radius: 0;
  padding-bottom: 11px;
  padding-left: 5%;
  padding-right: 5%;
  outline: none;
  margin-left: 10px;
  text-align: justify;
  margin-right: 2%;

}
.card-expiry-date {
  /* width: 30%; */
  /* text-align: justify; */
  padding-bottom: 2%;

}
.country-select select{
  text-align: justify;
  width: 100%;
  font-size: 17px;
  font-weight: 100;
  margin-top:0;
  border-bottom: 1px #bfbfbf solid;  margin: 20px;
}
.label {
  margin: 20px;
  text-align: justify;
}

.checkout-user-details .country {
  color: black;
}
.date-details{
  text-align: justify;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.month, .year, .card-expiry-date{
  width: 100%;
  margin:20px;
  margin-right: 0;
}

.order_summary,
.total {
  clear: both;
  line-height: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  /* text-align:left; */
  display: flex;
  justify-content: space-between;
}
.changed-button{
  display: flex;
  justify-content: flex-start;
  background: white;
  margin-left: 15px;
}
.checkbox{
  display: inline-flex
  justify-content:flex-start;
  /* border: 2px black solid; */
}
.total{
    margin-top: 20px;
}
.user-details {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto;
  justify-content:center;
  grid-gap: 100px;
}
.footer-str{
  margin-top: 100px;
}

@media (max-width: 768px) {
  .user-details {
    grid-template-columns: 100%;
    grid-gap:0;
  }
  /* For fixed footer to not hide the order summary */
  .total {
    margin-top: 20px;
    margin-bottom: 23%;
  }
  .main-container .grey-text{
    margin-top: 4px;
  }
  .button{
    display: none;
  }
  .main-container{
    margin-top: 0;
    font-size: 13px;
  }

}
