.item img {
  width: 400px;
  height: 400px;
}

.item-name {
  font-weight: bold;
}
.description {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .cover-page {
    display: none;
  }
  .description {
    margin-top: 0;
  }
}
