body {
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.site {
  min-width: 250px;
}
/* HEADER ELEMENT */
.head-box {
  text-align: center;
  height: 64px;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.head-box-name{
  color: black;
}
.head-box a {
  text-decoration: none;
}
.head-box-image {
  height: 40px;
  width: 40px;
}
/* navigation bar */

.nav-bar {
  display: flex;
  height: 66px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.nav-bar .nav-element {
  margin: 10px;
  margin-bottom: 25px;
}

.nav-link-style {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.nav-link-style:hover {
  padding-bottom: 10px;
  border-bottom: 2px black solid;
}

.main-container {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}
.grey-text {
  color: #757575;
}

.image-style {
  width: 100%;
  height: 320px;
}

.image-style img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-top: 35px;
  font-size: 18px;
}
.side-images {
  display: flex;
}

.button {
  grid-area: button;
  background: white;
  border: 2px black solid;
  padding: 10px 40px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 14px;
}
.footer-str {
  text-align: center;
}
.footer-str p {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-str-button {
  display: inline-block;
  color: white;
  width: 120px;
  padding: 6px;
  margin-top: 0;
  background: black;
  margin-bottom: 0;
}

/* For itemlisting page! */
.item-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* SINGLE ITEM PAGE */

.fixed-footer {
  bottom: 0;
  position: fixed;
  background-color: #172c50;
  height: 70px;
  min-width: 100%;
  color: white;
  text-align: center;
}
/* no wrap for smaller screens */
@media (min-width: 768px) {
  .item-container.single {
    flex-wrap: nowrap;
  }

  .fixed-footer {
    display: none;
  }
}
/*  cart pa*/

@media (max-width: 768px) {
  .disappear-button,
  .footer-str {
    display: none;
  }
  .nav-bar {
    display: none;
  }

  .head-box {
    margin: 15px;
  }
}
/*  CHECKOUT PAGE*/
