.single {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 40px;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  text-align: center;
}
.singleitem-description {
  grid-column: 2/3;
  color: black;
  text-align: justify;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 64px;
  max-width: 400px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 0;
  line-height: 1.5em;
  font-size: 13px;
}
.select-style {
  height: 35px;
  display: flex;
  align-items: center;
  color: grey;
}
select {
  -webkit-appearance: none;
}
.singleitem-description h6 {
  margin-top: 30px;
  margin-bottom: 16px;
  margin-left: 0;
}
.singleitem-description hr {
  opacity: 0.5;
}
.item-price {
  font-size: 16px;
  padding-left: 0px;
  margin-bottom: 40px;
  color: grey;
}
.single-item-name {
  font-size: 24px;
  font-weight: 400;
}
.item {
  max-height: 600px;
  padding-bottom: 3%;
}
.item img {
  width: 100%;
  max-height: 65vh;
  object-fit: contain;
}
.button-cart {
  padding: 8px 44px;
  margin-left: 0;
  margin-top: 15px;
}
/* .label {

} */
.label-size{
  margin-right: 75px;
}
.label-quantity{
  margin-right: 58px;
}
#size,
#quantity {
  border: none;
}
/* hide the button for small screens */
@media (max-width: 768px) {
  .single {
    flex-wrap: wrap;
  }
  .footer-str {
    display: none;
  }
  .singleitem-description .button {
    display: none;
  }
  .single {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 100%;
  }
  .singleitem-description {
    grid-column: 1/2;
    max-width: 100%;
    margin-bottom: 17%;
  }
  .item {
    grid-column: 1/2;
  }
  .head-box {
    margin-bottom: 0;
  }
}
