/* Cart page  */
.site{
  height: 100%;
}
.main-container{
  margin-top: 70px;
  font-size: 17px;
  object-fit: contain;
}
.cart-container {
  clear: both;
  height: 90px;
  font-size: 13px;
  /* padding-bottom: 20px; */
}
.sub-section{
  /* padding: 24px 48px 24px; */
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
select {
  -webkit-appearance: none;
  border: none;
}

.cart-image img {
  height: 80px;
  width: 80px;
  float: left;
}
.cart-label{
  margin-left: 70px;
  margin-right: 30px;
}
.cart-image .cart-image-name {
  float: left;
}

.cart-image-details {
  float: right;
  margin-right: 10px;
}

.checkout-container {
  /* margin: 0px; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
@media (max-width: 1100px) {
  .sub-section{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .cart-label{
    margin-left: 40px;
    margin-right: 10px;
  }

}
@media (max-width: 768px) {
  .sub-section{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cart-label{
    margin-left: 3px;
    margin-right: 3px;
  }
  .bold-text{
    margin-right: 10px;
  }
  .main-container{
    margin-top: 0;
    font-size: 13px;
  }
}
